table{
	border: 1px solid;
	width:100%;
}th{
	border:1px solid;
	overflow: hidden;
	vertical-align: top;
	text-align:center;
	}
td{
	text-align:center;
	border:1px solid;
}

input:invalid{
	border:3px solid red;
	
}
