body{
    background-color: seashell;
    font-family: Arial;
}
#sitemap {
    border-collapse: collapse;
    width: 100%;
}

#sitemap th {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

#sitemap td {
    border: 1px solid #ddd;
    padding: 8px;
}

.logout input[type="submit"] {
    position: fixed;
    right: 80px;
    top: 20px;
    /*padding: 15px 20px 15px 20px;*/
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}