body{
    background-color: beige;
    font-family: Arial;
}
#benutzerTabelle, #faecherTabelle, #notenTabelle, #sitemap, #sitemap_prof {
    border-collapse: collapse;
    width: 100%;
}

#benutzerTabelle th, #faecherTabelle th, #notenTabelle th, #sitemap th, #klausurenTabelle th, #notenFormular th, #loginDaten th, #registerDaten th, #noten th, #sitemap_prof th, #faecher th {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

#benutzerTabelle td, #faecherTabelle td, #notenTabelle td, #sitemap td, #klausurenTabelle td, #notenFormular td, #loginDaten td, #registerDaten td, #noten td, #sitemap_prof td, #faecher td{
    border: 1px solid #ddd;
    padding: 8px;
}

#ausfuehren, #absenden, #anmelden, #registerSubmit, #dlbutton, #submitbu {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
#abbrechen {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.logout input[type="submit"] {
    position: fixed;
    right: 80px;
    top: 20px;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
